 #footer {
    background-color: #363839;
    color: white;
} 

/* #navbar{
    background: #038ACE;
    color: white;
} */

#header {
    background: #01568E; 
    color: white;
    margin-left: 300px;
    height: 130px;
}
/*Agregado*/
#headerlogin {
  background: #01568E; 
  color: white;
  /*margin-left: 0px;*/
  height: 130px;
}

#header img{
  max-width: 80%;
}

#portal {
  font-family: VistaSans;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  font-size: 1.359rem;
  margin-top: 10px;
  /* text-shadow: 3px 4px 4px rgba(0, 0, 0, 1); */
}

#subheader {
  background: #038ACE;
  margin-left: 300px;
  height: 40px;
}

#subheader a{
  text-decoration: none;
}

/*Agregado*/
#subheaderlogin {
  background: #038ACE;
  margin-left: 0px;
  height: 40px;
}
.titulo-azul{
    color: #01568E;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
}
/*Agregado*/
.navbarlink{
  color: white;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background-color: #161B1E; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 18px;
}
/* 011e31 */
.sidenav .card {
    background-color: #161B1E;
}

#carreras a{
  font-size: .9rem;
  padding-left: 12px;
  
}
 
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: .9rem;
  display: block;
}

#modulos a{
  color: #cfcfcf;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* When you mouse over the navigation links, change their color */
#modulos a:hover {
  color: #f1f1f1;
}

/* Style page content */
#main {
  margin-left: 300px; /* Same as the width of the sidebar */
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 


/* @media (max-width:575px) {
    .titulo-azul{
        font-size: 1rem;
    }

    #portal {
        font-size: 100%;
    }

    #uctlogo {
        max-width: 130px;
        max-height: 70px;
        
       }
} */