#main{
  transition: 0s;
}

#accordionPanelsStayOpen .accordion-item button{
    background-color:#038ACE;
    color: white;
}

.accordion-item table{
  table-layout: fixed;
}

.accordion-button::after{
  filter: brightness(0%) invert(100%);
}

@media (min-width:992px) {
  #main{
    margin-left: 150px;
  }
}