#main{
  transition: 0s;
}

#accordion-panel .accordion-item button{
    background-color:#038ACE;
    color: white;
}

.accordion-item table{
  table-layout: fixed;
}

.accordion-button::after{
  filter: brightness(0%) invert(100%);
}

/* #dropdown-button{
  background-color: #01568E; 
  border: none;
} */

.nav-pills .nav-link.active{
  background-color: #01568E;
}

.nav-pills .nav-link{
  color: #038ACE;
}

@media (min-width:992px) {
  #main{
    margin-left: 150px;
  }
}