 
html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

#header {
    background: #01568E; 
    color: white;
    height: 130px;
}

#header .container-fluid{
  min-height: 100%;
  min-width: 100%;
}

#header img{
  max-width: 80%;
}
.titulo-azul{
    color: #01568E;
    /*text-shadow: 0 4px 4px rgba(0,0,0,0.25);*/
}
/*Agregado*/

/* .navbar .collapse ul li {
  font-size: 0.95rem;
} */

.navbarlink{
  color: white;
}
.navbar .navbar-toggler{
  border: 0; 
  text-decoration: none;
}

.navbar .navbar-toggler span{
  color: white;
}

a.btn.btn-primary{
  background-color: #01568E;
  border: 0;
}

#footer {
    background-color: #363839;
    margin-top: auto;
    color: white;
}
#footer img{
  max-width: 80%;
}
@media (max-width:991px) {
    #header, #subheader, #main{
      margin-left: 0px;
    } 
}

@media (max-width:767px){
  
}
@media (max-width:576px){
  html{
    font-size: 0.8rem;
  }
}